body {
    color: #222;
    font-family: Arial;
    margin: 0;
}

option {
    font-family: "courier new";
}

#header {
    text-align: center;
    font-size: 18px;
    padding: 4px;
    border-bottom: 1px solid #aaa;
}

#content {
    margin: 10px;
}

.tutorial {
    margin-bottom: 50px;
    padding-bottom: 50px;
}

.tutorial-header {
    background-color: #222;
    color: white;
    padding-left: 8px;
}

.hidden {
    display: none;
}

.source {
    margin-bottom: 40px;
}

.es2015 {
    background-color: #ffd;
    padding: 5px;
    border: 1px dashed #222;
    margin-bottom: 50px;
}

h3 {
    margin-bottom: 0px;
}

.generated-source {
    border: 1px dashed #222;
    background-color: #ffd;
    padding: 5px;
    
}

